.ReadOrWritePage_structure_wholeBox {
  display: flex;
  width: 100%;
  height: 100vh;
}

.ReadOrWritePage_structure_rightBox {
  width: 80vw;
}

.ReadOrWritePage_structure_rightBox_2 {
  display: flex;

  justify-content: center;
  align-items: center;
}
